body {
    background-color: #f4f5f7;
}
.list li {
    list-style-type: none;
}

.text-xs {
    font-size: 11px;
}

.show {
    display: flex !important;
}

.transition-sm {
    transition: .3s;
}

input[type="file"]::-webkit-file-upload-button {
    height: 100%;
    width: 100px;
    border: 0;    
    color: #777;
}

/* .block {
    display: block ;
} */